header {
  padding: 2rem;
  background-color: rgba(29, 161, 242, 1);

  h1 {
    a {
      font-size: 2.5rem;
      font-weight: bold;
      color: #fff;
    }
  }

  button {
    width: 7rem;
    height: auto;
    padding: 0.5rem;
    color: #fff;
    border-radius: 0.15rem;
    background-color: #f2681d;
    border: none;
    cursor: pointer;
  }
}
