.post {
  padding: 2rem;
  margin: 1rem;
  background-color: '#fff';
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 0.25rem;

  &:hover {
    background-color: #eee;
  }

  .username,
  .title {
    margin-bottom: 0.5rem;
  }

  .username {
    width: 100%;
    font-weight: bold;
  }
  .title {
  }
  .body {
    font-weight: 100;
  }
}
