@import '../node_modules/reset-css/reset.css';

* {
  box-sizing: border-box;
  transition: all 0.1s linear;
}

body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row !important;
}

.column {
  flex-direction: column !important;
}

.center-all {
  justify-content: center;
  align-items: center !important;
}

.align-center {
  align-items: center !important;
}

.align-start {
  align-items: flex-start !important;
}

.align-end {
  align-items: flex-end !important;
}
.align-stretch {
  align-items: stretch !important;
}
.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-center {
  justify-content: center !important;
}

.space-around {
  justify-content: space-around !important;
}

.space-between {
  justify-content: space-between !important;
}

.wrap {
  flex-wrap: wrap !important;
}
